// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

// Define fonts for body and headers
$headers-font: 'Raleway', sans-serif, "Helvetica", "sans-serif";
// $body-font:  'Oswald', sans-serif, "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Gill Sans Light";
  src: font-url('GillSansStd-Light.otf');
  // src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
  //      font-url('FontFile.woff') format('woff'),
  //      font-url('FontFile.ttf') format('truetype')
}

@font-face {
  font-family: "Monica Script";
  src: font-url('MonicaScript.ttf');
  // src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
  //      font-url('FontFile.woff') format('woff'),
  //      font-url('FontFile.ttf') format('truetype')
}

$body-font: 'Gill Sans Light', "Helvetica", "sans-serif";