.textCardLeft {
  background: #0000007d;
  color: white;
  padding: 50px;
  left: 30px;
  position: absolute;
  z-index: 10;
  top: 55px;
  width: 50%;
}

.textCardRight {
  background: #0000007d;
  color: white;
  padding: 50px;
  right: 30px;
  position: absolute;
  z-index: 10;
  top: 55px;
  width: 50%;
}
