.section {
  padding-bottom: 100px;
  position: relative;
  padding-top: 100px;
}

.emailTorreta {
  a {
    color: #000000;
    text-decoration: none;
    &:hover {
      color: #000000;
      text-decoration: underline;
    }
  }
}
