html, body {
  height: 100%;
  margin: 0;
  background-attachment: fixed;
  background: white;
}

h1 {
  font-size: 56px;
}


.wrapper {
  min-height: 100%;

  /* This is the same as the height of the footer */
  margin-bottom: -100px;
}

.container {
  margin-bottom: 50px;
}

.module-home-text {
  width: 500px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255,0.8);
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-outline-dark {
  color: #343a40;
  background-color: transparent;
  background-image: none;
  border-color: #343a40;
  &:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
  }
}

.btn {
  padding: 12px 24px;
  font-size: 24px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.language {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: #000000;
    text-decoration: none;
    &:hover {
      color: #000000;
      text-decoration: none;
      text-shadow: 1px 1px 2px #a5a5a5;
    }
  }
}
