html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  /* This is the same as the height of the footer */
  margin-bottom: -100px;
}
/* The height of the footer and push must be the same */
.footer,
.push {
  height: 70px;
}

.container {
  margin-bottom: 50px;
}

.module-home-text {
  width: 500px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255,0.8);
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

