html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  /* This is the same as the height of the footer */
  margin-bottom: -100px;
}
/* The height of the footer and push must be the same */
.footer,
.push {
  height: 70px;
}

.container {
  margin-bottom: 50px;
}
