.menuCard {
  padding-top: 25px;
  left: 30px;
  z-index: 10;
  top: 55px;
  width: 100%;
}

.menuList {
  list-style: none;
  margin-left: 0;
  li > a {
    color: black;
    &:hover {
      text-decoration: none;
      color: #f0c447;
      text-shadow: 1px 1px 2px #5c5c5c;
    }
  }
}

.footNotes {
  font-size: 14px;
}
