.menuCard {
  padding-top: 25px;
  left: 30px;
  z-index: 10;
  top: 55px;
  width: 100%;
}

.menuList {
  list-style: none;
  margin-left: 0;
  li > a {
    color: black;
    font-size: 24px;
    &:hover {
      text-decoration: none;
      color: #f0c447;
    }
  }
}

.footNotes {
  font-size: 14px;
}
