<% content_for(:title) do %>
  Sobre nosotros
<% end %>
<% content_for(:description) do %>
  En el restaurante La Torreta aspiramos a crear la mejor experiencia gastronómica en un ambiente deslumbrante y encantador. Ubicado en la parte más hermosa del casco antiguo de Ibiza, Dalt Vila, nuestro chef presenta una sabrosa mezcla de fusión mediterránea / asiática. Años de experiencia, nuestro servicio amable y profesional hace que nuestros clientes regresen año tras año. Ahora te esperamos...
<% end %>
<% content_for(:og_image) do %>
  <%= cl_image_path('la-torreta-ibiza/location/basment-4.webp') %>
<% end %>
<div class="bannerAboutUs">
  <div class="banner-content">
    <h1>Sobre nosotros</h1>
  </div>
</div>

<div class="wrapper">
  <div class="container section">
    <div class="row">
      <div class="col-xs-12">
        <div style="position: relative;">
          <%= cl_image_tag('la-torreta-ibiza/food/fried-shrimp.webp', style: "width: 100%; margin-bottom: 50px;") %>
          <div class="center-block text-center textCardLeft">
            <h1><strong>Ambiente</strong></h1>
            <p>En el restaurante La Torreta aspiramos a crear la mejor experiencia gastronómica en un ambiente deslumbrante y encantador.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container section">
    <div class="row">
      <div class="col-xs-12">
        <div style="position: relative;">
          <%= cl_image_tag('la-torreta-ibiza/location/closup-table-3.webp', style: "width: 100%; margin-bottom: 50px;") %>
          <div class="center-block text-center textCardRight">
            <h1><strong>Dalt Vila</strong></h1>
            <p>Ubicado en la parte más hermosa del casco antiguo de Ibiza, Dalt Vila, nuestro chef presenta una sabrosa mezcla de fusión mediterránea / asiática. Años de experiencia, nuestro servicio amable y profesional hace que nuestros clientes regresen año tras año. Ahora te esperamos...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
