<div class="bannerHome">
  <div class="banner-content">
  </div>
  <div class="banner-content">
    <span style="font-size:30px; cursor:pointer; padding: 20px;" onclick="openNav()">&#9776;</span>
  </div>
  <div class="module-home-text">
    <div class="module-home-text-content">
      <h1>La Torreta Ibiza</h1>
      <%= cl_image_tag("la-torreta-ibiza/brand-torreta.webp", alt: "brand-la-torreta", style: "width: 300px; height: 300px;") %>
      <div style="padding: 20px;">
        <button type="button" class="btn btn-outline-dark" onclick="openNav()"><%= t('enter') %></button>
      </div>
      <div class="language">
        <h2>
          <%= link_to t('english'), root_path(locale: 'en') %>
        </h2>
        <h2>
          <%= link_to t('spanish'), root_path(locale: 'es') %>
        </h2>
      </div>
    </div>
  </div>
</div>
