<div class="bannerHome">
  <div class="banner-content">
  </div>
  <div class="banner-content">
    <span style="font-size:30px; cursor:pointer; padding: 20px;" onclick="openNav()">&#9776;</span>
  </div>
  <div class="module-home-text">
    <div class="module-home-text-content">
      <h1>La Torreta Ibiza</h1>
      <p>Plaça Dalt Vila, 10, 07800 <strong>Eivissa</strong></p>
      <p><i class="fas fa-phone"></i> +34 971 300 411</p>
      <p><%= mail_to("info@latorretaibiza.com", "info@latorretaibiza.com", class: "emailTorreta") %></p>
      <%= cl_image_tag("la-torreta-ibiza/brand-torreta.webp", alt: "brand-la-torreta", style: "width: 300px; height: 300px;") %>
      <div style="padding: 20px;">
        <button type="button" class="btn btn-outline-dark" onclick="openNav()">Entrar</button>
      </div>
    </div>
  </div>
</div>
