<div class="bannerHome">
  <div class="banner-content">
  </div>
  <div class="banner-content">
    <span style="font-size:30px; cursor:pointer; padding: 20px;" onclick="openNav()">&#9776;</span>
  </div>
  <div class="module-home-text">
    <div class="module-home-text-content">
      <h1>La Torreta Ibiza</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <%= image_tag "brand-torreta.jpg", alt: "brand-la-torreta", style: "width: 300px; height: 300px;" %>
    </div>
  </div>
</div>
