<% content_for(:title) do %>
  Menu
<% end %>
<% content_for(:description) do %>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia molestiae ratione dignissimos, cum rerum adipisci error, quaerat ab voluptas culpa ad nobis, modi consequatur nihil officiis cupiditate saepe tenetur! Voluptatibus!
<% end %>
<% content_for(:og_image) do %>
  <%= cl_image_path('la-torreta-ibiza/food/fried-shrimp.webp') %>
<% end %>
<div class="bannerMenu">
  <div class="banner-content">
    <h1>Menu</h1>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="center-block text-center menuCard" style="margin-bottom: 50px;">
          <ul class="menuList">
            <li>
              <h3><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque exercitationem, ex esse totam dolor qui illo. Ut id deleniti minima ipsa quod eos quasi asperiores! Modi voluptas, et eveniet repellendus.</span></h3>
              <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum sapiente similique molestiae reiciendis, fugit aspernatur, vero atque labore accusantium et, numquam officia laboriosam eveniet nobis quasi, nostrum possimus inventore ipsa.</span></p>
              <span>€20</span>
            </li>
            <li>
              <h3><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ipsa incidunt deserunt iste expedita velit suscipit quam praesentium sequi molestiae harum facere, dolorum reiciendis soluta at eveniet dolor voluptatibus non.</span></h3>
              <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ipsam sed ipsum id, omnis sapiente odit, maxime cum suscipit est nisi laboriosam atque. Officia laborum enim vitae, adipisci, sint iste.</span></p>
              <span>€20</span>
            </li>
            <li>
              <h3><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit a suscipit quo, veniam ullam ab nemo obcaecati optio exercitationem, iste explicabo similique et architecto voluptatum vel, labore distinctio doloribus in.</span></h3>
              <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis exercitationem ex, iusto dolor nesciunt, ipsa qui ullam voluptas dolores eaque? Velit at aliquid neque laudantium sit cupiditate in, eum ratione!</span></p>
              <span>€20</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="center-block text-center menuCard" style="margin-bottom: 50px;">
          <ul class="menuList">
            <li>
              <h3><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque exercitationem, ex esse totam dolor qui illo. Ut id deleniti minima ipsa quod eos quasi asperiores! Modi voluptas, et eveniet repellendus.</span></h3>
              <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum sapiente similique molestiae reiciendis, fugit aspernatur, vero atque labore accusantium et, numquam officia laboriosam eveniet nobis quasi, nostrum possimus inventore ipsa.</span></p>
              <span>€20</span>
            </li>
            <li>
              <h3><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ipsa incidunt deserunt iste expedita velit suscipit quam praesentium sequi molestiae harum facere, dolorum reiciendis soluta at eveniet dolor voluptatibus non.</span></h3>
              <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ipsam sed ipsum id, omnis sapiente odit, maxime cum suscipit est nisi laboriosam atque. Officia laborum enim vitae, adipisci, sint iste.</span></p>
              <span>€20</span>
            </li>
            <li>
              <h3><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit a suscipit quo, veniam ullam ab nemo obcaecati optio exercitationem, iste explicabo similique et architecto voluptatum vel, labore distinctio doloribus in.</span></h3>
              <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis exercitationem ex, iusto dolor nesciunt, ipsa qui ullam voluptas dolores eaque? Velit at aliquid neque laudantium sit cupiditate in, eum ratione!</span></p>
              <span>€20</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
