<% content_for(:title) do %>
  <%= t('menu.title') %>
<% end %>
<% content_for(:description) do %>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia molestiae ratione dignissimos, cum rerum adipisci error, quaerat ab voluptas culpa ad nobis, modi consequatur nihil officiis cupiditate saepe tenetur! Voluptatibus!
<% end %>
<% content_for(:og_image) do %>
  <%= cl_image_path('la-torreta-ibiza/food/fried-shrimp.webp') %>
<% end %>
<div class="bannerMenu">
  <div class="banner-content">
    <h1><%= t('menu.title') %></h1>
  </div>
</div>

<div class="wrapper">
  <div class="container section">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="center-block text-center menuCard" style="margin-bottom: 50px;">
          <ul class="menuList">
            <li>
              <h3><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></h3>
              <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum sapiente similique molestiae reiciendis, fugit aspernatur.</span></p>
              <span>€20</span>
            </li>
            <li>
              <h3><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></h3>
              <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum sapiente similique molestiae reiciendis, fugit aspernatur.</span></p>
              <span>€20</span>
            </li>
            <li>
              <h3><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></h3>
              <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum sapiente similique molestiae reiciendis, fugit aspernatur.</span></p>
              <span>€20</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="center-block text-center menuCard" style="margin-bottom: 50px;">
          <ul class="menuList">
            <li>
              <h3><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></h3>
              <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum sapiente similique molestiae reiciendis, fugit aspernatur.</span></p>
              <span>€20</span>
            </li>
            <li>
              <h3><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></h3>
              <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum sapiente similique molestiae reiciendis, fugit aspernatur.</span></p>
              <span>€20</span>
            </li>
            <li>
              <h3><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></h3>
              <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum sapiente similique molestiae reiciendis, fugit aspernatur.</span></p>
              <span>€20</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
