.bannerHome {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-image: linear-gradient(-225deg, rgba(224, 230, 234, 0.6) 0%, rgba(0, 53, 90, 0.19) 50%), url('https://res.cloudinary.com/dsc0y1kmt/image/upload/v1552306021/la-torreta-ibiza/banner-torreta.webp');
}

.bannerLocation {
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  background-attachment: fixed;
  background-image: linear-gradient(-225deg, rgba(224, 230, 234, 0.6) 0%, rgba(0, 53, 90, 0.19) 50%), url('https://res.cloudinary.com/dsc0y1kmt/image/upload/v1552393420/la-torreta-ibiza/location/basement-2.webp');
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  opacity: 0.6;
  margin-bottom: 30px;
}

