.banner {
  height: 100vh;
  text-align: center;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bannerHome {
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-image: linear-gradient(-225deg, rgba(224, 230, 234, 0.6) 0%, rgba(0, 53, 90, 0.19) 50%), url('https://res.cloudinary.com/la-torreta-ibiza/image/upload/c_scale,h_1700,q_50,w_3000/v1559210955/location/closup-table-4.jpg');
}

.bannerLocation {
  color: white;
  background-image: linear-gradient(-225deg, rgba(69, 68, 68, 0.6) 0%, rgba(20, 41, 55, 0.19) 50%), url('https://res.cloudinary.com/la-torreta-ibiza/image/upload/c_scale,h_1700,q_50,w_3000/v1559210957/location/basement-2.jpg');
}

.bannerFoodAndWines {
  color: white;
  background-position: 20% 110%;
  background-image: linear-gradient(-225deg, rgba(224, 230, 234, 0.6) 0%, rgba(0, 53, 90, 0.19) 50%), url('https://res.cloudinary.com/la-torreta-ibiza/image/upload/c_scale,h_1700,q_50,w_3000/v1559210931/food/champaign.jpg');
}

.bannerAboutUs {
  color: white;
  background-position: 20% 110%;
  background-image: linear-gradient(-225deg, rgba(224, 230, 234, 0.6) 0%, rgba(0, 53, 90, 0.19) 50%), url('https://res.cloudinary.com/la-torreta-ibiza/image/upload/c_scale,h_1700,q_50,w_3000/v1559210954/location/closup-table-2.jpg');
}

.bannerMenu {
  color: white;
  background-position: 20% 110%;
  background-image: linear-gradient(-225deg, rgba(224, 230, 234, 0.6) 0%, rgba(0, 53, 90, 0.19) 50%), url('https://res.cloudinary.com/la-torreta-ibiza/image/upload/c_scale,h_1700,q_50,w_3000/v1559210932/food/fried-shrimp.jpg');
}

.bannerContact {
  color: white;
  background-position: 20% 110%;
  background-image: linear-gradient(-225deg, rgba(224, 230, 234, 0.6) 0%, rgba(0, 53, 90, 0.19) 50%), url('https://res.cloudinary.com/la-torreta-ibiza/image/upload/c_scale,h_1700,q_50,w_3000/v1559210958/location/outside-2.jpg');
}

.bannerSection {
  color: white;
  height: 50vh;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.banner h1 {
  font-weight: bold;
  text-shadow: 1px 1px 2px #5c5c5c;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  opacity: 0.6;
  margin-bottom: 30px;
}



