.footer {
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  padding: 0px 50px;
  color: rgb(255, 255, 255);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  text-decoration: none;
  // font-size: 32px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #f0c447;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-copyright a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  &:hover {
    color: #f0c447;
  }
}
