.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-size: cover !important;
  background-position: 20% 100%;
  background-image: linear-gradient(-225deg, rgba(82, 82, 82, 0.66) 0%, rgba(0, 56, 90, 0.24) 50%), url("https://res.cloudinary.com/dsc0y1kmt/image/upload/c_scale,h_2000,q_50,w_3000/v1552393572/la-torreta-ibiza/location/outside-4.png");
  overflow-y: hidden;
  transition: ease-in-out 1s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 64px;
  color: white;
  display: block;
  transition: 0.3s;
  font-family: 'Amatic SC', cursive, "Helvetica", "sans-serif";
  font-weight: bold;
}

.overlay a:hover, .overlay a:focus {
  color: #000000;
  text-shadow: 1px 1px 2px white;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
